.home-screen{
    z-index: -1;
    position: absolute;
    left: 251px;
    top: 66px;
    color: white;
    margin:auto ;
    display: block;
    width: 100%;
    padding-left: 100px;  

}

.container{
  
    height: 100%;
    padding: 50px;
    background-color: black;
    margin-top: 20px;
}
