.category-div {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat (19, min-content);
    gap: 16px 24px;
}
.Records-scrollbox {
    overflow-x: scroll;

    &::-webkit-scrollbar {

        background-color: black;
    }
}

.Records-scrollbox:hover {
    &::-webkit-scrollbar-thumb {
        background-color: rgba(222, 219, 219, 0.4);
    }
}
