@tailwind base;
@tailwind components;
@tailwind utilities;

&&&.ReactModal__Content , .ReactModal__Content--after-open, .login-model{
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}