.nar-bar-left{
    position: fixed;
    width: 250px;
    height: calc(100vh - 66px);
    background-color: black;
    top: 60px;
    left: 0px;
    border-right: .2px solid rgb(209, 209, 209);
    padding: 6px 12px;
}

.option{
    position: relative;
    display: flex;
    height: 45px;
    background-color: black;
    border-radius: 8px;
    padding:0 16px;
    align-items: center;
    font-weight: 400;
    color: white;
    font-size: 16px;
}

.icon-option{
    
    margin-left: 10px;
    margin-right: 10px;
   
    background-size: cover;
    font-size: 25px;
}






.option.active{
    background-color: rgb(53, 52, 52) !important;
}

.option:hover{
    background-color: rgb(60, 59, 59) !important;


    cursor: pointer;
}

.bound{
    width: 70%;
    height: 1px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

.list-music{

    height: 40px;
    border-radius: 20px;
    background-color: rgb(53, 52, 52) ;
    display: flex;
    align-items: center;
    margin: 20px 7px 10px 7px;
    padding-left: 12px;
}

.icon-add-list{
    width: 20px;
    height: 20px;
     margin-right: 4px;
    background-image: url(../../public/icons/plus-icon-v2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-music span{
    color: white;
  
}
.list-music:hover{
    cursor: pointer;
    background-color:rgb(75, 75, 75) ;
}

.list-music-liked{
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 10px;
    margin: 12px;
    padding-left: 10px;
    justify-content: space-between;
}

.list-music-liked:hover {
    background-color: rgb(53, 52, 52) !important;
    cursor: pointer;
}

.text-child{
    font-size: 14px;
    color: rgb(163, 163, 163);
    display: flex;
    align-items: center;
}
.icon-text-child{
    width: 14px;
    height: 14px;
    background-image: url("../../public/icons/pin-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}
.list-music-icon{
    display: none;
    width: 26px;
    height: 26px;
    background-image: url("../../public/icons/play-icon-v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.list-music-liked:hover  .list-music-icon{
    display: block;
    
}

.btn-logout, .btn-login{
    width: 40%;
    height: 40px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
